* {
	margin: 0;
	padding: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-family: 'Work Sans', sans-serif;
}

.body-container {
	height: 100vh;
}

#main-tag {
	visibility: hidden;
	position: absolute;
	right: 0;

}

/* SIDEBARS*/
.sidebar-left {
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 0vw;
	width: 150vw;
	height: 100%;
	background-image: linear-gradient(to right, #3E487D, rgba(255,255,255, 0));
}
.sidebar-left:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.content {
	max-width: 60vw;
	display: inline-block;
	vertical-align: middle;

	/*background-color: rgba(201,211,255, .5);*/
	background-color: rgba(248,205,218, .35);
	margin-left: 40px;
	padding: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	font-size: 28px;
}

/* SPINNERS */
.skills {
	text-align: center;
}

svg {
	display: inline-block;
	margin: 20px 10px;
	width: 120px;
}

.fill {
	fill: rgba(201,211,255, 1);
}

.border {
	fill: #3B3E63;
}

.sidebar-right {
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 325vw;
	width: 150vw;
	height: 100%;
	background-image: linear-gradient(to left, #3E487D, rgba(255,255,255, 0));
}
.sidebar-right-content-spacer {
	height: 100%;
	position: absolute;
	right: 0;
}
.sidebar-right-content-spacer:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.sidebar-right .content {
	text-align: right;
	margin-right: 40px;
}


.body {
	background-image: radial-gradient(rgba(248,205,218, .7), rgba(62,72,125, 0.8));
	font-size: 14px;
	position: relative;
	width: 100vw;
	height: 100%;

	perspective: 1px;
	overflow-x: auto;
	overflow-y: hidden;
}

.group {
	text-align: right;
	position: relative;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
	transform-style: preserve-3d;

	margin: 0 100vw 0 175vw;
}

/* HOME SPLASH */
.splash-container {
	height: 100vh;
	text-align: center;
}

.splash-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.splash-box {
	background-color: #FFFFFF;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 300px;
	width: 600px;
	font-size: 45px;
	border: 3px solid black;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}

/* SKILLS */
.skill {
	text-align: left;
	position: relative;
	margin: 20px 0;
}

.skill-name {
	line-height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 20px;
}

.background-anim {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 0;
	background: rgba(62,72,125, 0.8);
	pointer-events: none;
}
.background-anim.anim-75 {
	width: 75%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}
.background-anim.anim-70 {
	width: 70%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}
.background-anim.anim-55 {
	width: 55%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}
.background-anim.anim-50 {
	width: 50%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}
.background-anim.anim-35 {
	width: 35%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}




@media (min-width:640px) and (max-resolution: 144dpi) { /* Desktop styles */
	.splash-box {
		height: 200px;
		width: 400px;
	}
}
