* {
	margin: 0;
	padding: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-family: 'Work Sans', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.body-container {
	height: 100vh;
}

#main-tag {
	visibility: hidden;
	position: absolute;
	right: 0;

}

/* SIDEBARS*/
.sidebar-left {
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 0vw;
	width: 150vw;
	height: 100%;
	background-image: linear-gradient(to right, #3E487D, rgba(255,255,255, 0));
}
.sidebar-left:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.content {
	max-width: 60vw;
	display: inline-block;
	vertical-align: middle;
	background-color: rgba(248,205,218, .35);
	margin-left: 40px;
	padding: 40px;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	font-size: 28px;
}

.sidebar-right {
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 325vw;
	width: 150vw;
	height: 100%;
	background-image: linear-gradient(to left, #3E487D, rgba(255,255,255, 0));
}
.sidebar-right-content-spacer {
	height: 100%;
	position: absolute;
	right: 0;
}
.sidebar-right-content-spacer:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.sidebar-right .content {
	text-align: right;
	margin-right: 40px;
}

.portfolio-item {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 20px;
	border-radius: 20px;
	background-color: #3E487D;
}

.pwi {
	background: url('assets/logos/PWI_text_color.png') center center;
	background-size: cover;
}
.faithlife {
	background: url('assets/logos/faithlife-color-bg.png') center center;
	background-size: cover;
}
.piney-woods {
	background: url('assets/logos/tx-woods-color.png') center center;
	background-size: cover;
}
.blog {
	background: url('assets/logos/blog.png') center center;
	background-size: cover;
}
.dgcs {
	background: url('assets/logos/dgcs.png') center center;
	background-size: cover;
}
.git {
	background: url('assets/logos/git.png') center center;
	background-size: cover;
}
.skull {
	background: url('assets/logos/skull.png') center center;
	background-size: cover;
}

/* CENTER SECTION */
.body {
	background-image: radial-gradient(rgba(248,205,218, .7), rgba(62,72,125, 0.8));
	font-size: 14px;
	position: relative;
	width: 100vw;
	height: 100%;

	perspective: 1px;
	overflow-x: auto;
	overflow-y: hidden;
}

.group {
	text-align: right;
	position: relative;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
	transform-style: preserve-3d;

	margin: 0 100vw 0 175vw;
}

/* HOME SPLASH */
.splash-container {
	height: 100vh;
	text-align: center;
}

.splash-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.splash-box {
	background-color: rgba(62,72,125, 0.95);
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 300px;
	width: 600px;

	border: 3px solid black;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
}

.splash-box:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.splash-content {
	display: inline-block;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 300;
}

/* SKILLS */
.skill-section {
	margin-bottom: 15px;
}
.skill {
	text-align: left;
	position: relative;
	margin: 20px 0;
}

.skill-name {
	line-height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 20px;
}

.background-anim {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 0;
	background: rgba(62,72,125, 0.8);
	pointer-events: none;
}
.background-anim.anim-1 {
	width: 75%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}
.background-anim.anim-2 {
	width: 70%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}
.background-anim.anim-3 {
	width: 55%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}
.background-anim.anim-4 {
	width: 50%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}
.background-anim.anim-5 {
	width: 35%;
	opacity: 1;
	-webkit-transition: width 1.5s ease-in;
	transition: width 1.5s ease-in;
}




@media (min-width:640px) and (max-resolution: 144dpi) { /* Desktop styles */
	.splash-box {
		height: 200px;
		width: 400px;
	}
	.splash-content {
		font-size: 18px;
	}

	.content {
		font-size: 14px;
	}
	.skill-name {
		line-height: 24px;
	}
	.background-anim {
		height: 24px;
	}

	.portfolio-item {
		height: 100px;
		width: 100px;
		border: none;
	}
}
